[submodule "snippets/js-mode"]
	path = snippets/js-mode
	url = https://github.com/jsulak/yasnippet-js-mode.git
[submodule "external/solarized"]
	path = external/solarized
	url = https://github.com/jsulak/emacs-color-theme-solarized.git
[submodule "external/jshint-mode"]
	path = external/jshint-mode
	url = https://github.com/jsulak/jshint-mode.git


